body {
  background: #ffffff;
  color: #828181;
  margin: 0%;
  font-family: Open Sans;
}
body a {
  color: #828181;
}
body a:hover {
  color: #020202;
}
h2 {
  text-transform: uppercase;
  font-size: 21px;
  color: #828181;
  text-align: center;
  background: url(../images/Rectangle3.png) no-repeat 50% 100%;
  height: 42px;
  padding-top: 42px;
  margin-top: 0px;
}
h3 {
  font-size: 16px;
  color: #b7b3b3;
  text-align: center;
  margin-bottom: 62px;
}
.sectionButton {
  font-size: 18px;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 42%;
  width: 185px;
  height: 40px;
  border-radius: 30px;
  border-style: solid;
  padding-right: 25px;
  padding-left: 10px;
}
.sectionButton span {
  vertical-align: -webkit-baseline-middle;
}
.fifthSection {
  height: 500px;
  background-color: #f2f1f1;
  position: relative;
}
.fifthSection .clientLogo {
  float: left;
  text-align: center;
}
.fifthSection .clientLogo .logoClientPictures {
  display: inline-block;
  height: 70px;
  width: 170px;
}
.fifthSection .clientLogo .logoClientPictures img {
  vertical-align: -webkit-baseline-middle;
}
.fifthSection .clientLogo .client_logo {
  padding-left: 60px;
  padding-right: 60px;
  display: inline-table;
}
.fifthSection .sectionButton {
  color: #c3bfbf;
  background: url(../images/fithSectionPictures/Shape2.png) no-repeat 97% 50% #a59d9d;
  background-color: #dddcdc;
  border-color: #dddcdc;
  text-decoration: none;
}
