@import "variables";

body {
  background: @bodyBgColor;
  color: @textColor;
  margin: 0%;
  font-family: Open Sans;
  a{
    color: @textColor;
    &:hover {
      color: darken(@textColor, 50%);
    }
  }


}
  h2{
    text-transform: uppercase;
    font-size: 21px;
    color: @textColor;
    text-align: center;
    
  }
  h3{
    font-size: 16px;
    color: #b7b3b3;
    text-align: center;
  }
   

