/*pictres*/
body {
  background: #ffffff;
  color: #828181;
  margin: 0%;
  font-family: Open Sans;
}
body a {
  color: #828181;
}
body a:hover {
  color: #020202;
}
.globalHeaderTitle {
  text-transform: uppercase;
  font-size: 21px;
  color: #828181;
  text-align: center;
  background: url(../images/Rectangle3.png) no-repeat 50% 100%;
  height: 42px;
  padding-top: 42px;
  margin-top: 0px;
}
.globalHeaderSubtitle {
  font-size: 16px;
  color: #b7b3b3;
  text-align: center;
  margin-bottom: 62px;
}
.greenSectionTitle h2 {
  color: #207b20;
  background: url(../images/Rectangle3.3.png) no-repeat 50% 100%;
}
.greenSectionTitle h3 {
  color: #2b9b2b;
}
.sectionButton {
  font-size: 18px;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 42%;
  width: 185px;
  height: 40px;
  border-radius: 30px;
  border-style: solid;
  padding-right: 25px;
  padding-left: 10px;
  text-decoration: none;
}
.sectionButton span {
  display: inline-block;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.thirdSection {
  min-height: 750px;
  background-color: #54d154;
  position: relative;
  zoom: 1;
  /*problem z dodaniem zmiennej backgroundGreen*/
  /*@screenMobile: 480px;
@screenTablet: 768px;
@screenDesktop: 1024px;*/
}
.thirdSection a {
  text-decoration: none;
}
.thirdSection:before,
.thirdSection:after {
  content: "";
  display: table;
}
.thirdSection:after {
  clear: both;
}
.thirdSection h2 {
  color: #207b20;
  background: url(../images/Rectangle3.3.png) no-repeat 50% 100%;
}
.thirdSection h3 {
  color: #2b9b2b;
}
.thirdSection .list_picture {
  display: inline-block;
  height: 350px;
  width: 920px;
  background: url(../images/thirdSectionPictures/image.png) no-repeat;
  position: absolute;
  top: 250px;
  left: 20%;
}
.thirdSection .buttonsThirdSection {
  text-align: center;
}
.thirdSection .buttonsThirdSection a {
  padding-left: 20px;
  padding-right: 20px;
  color: #2b9b2b;
  border-color: #207b20;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
}
.thirdSection .buttonsThirdSection a:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #ffffff;
  background-color: #207b20;
}
.thirdSection .buttonsThirdSection a:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left-width: 0px;
}
.thirdSection .sectionButton {
  background: white;
  color: #207b20;
  display: inline-block;
  color: white;
  background: #207b20;
  border-radius: 30px;
  padding: 5px 10px;
  transition: all 0.5s ease-in;
  clear: both;
  /*color: white;*/
  /*border-color:@textColorGreenTitle;*/
  /*background: url(../images/thirdSectionPictures/Shape2.png) no-repeat 90% 50%;*/
  /*background-color: @textColorGreenTitle;*/
}
.thirdSection .sectionButton:hover {
  background: white;
  border-color: #b0eab0;
}
.thirdSection .sectionButton:hover {
  background: #2ba32b;
}
.thirdSection .listPicturesMiniature {
  display: inline-block;
  /*width: 170px;
        height: 170px;*/
}
.thirdSection .listPicturesMiniature img:hover {
  width: 170px;
  height: 170px;
  padding: 0px;
}
.thirdSection .listPicturesMiniature img {
  padding: 5px;
}
.thirdSection .picturesList_S3 {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 180px;
  zoom: 1;
  /*.listPictures:hover{
        img{
            width: 170px;
            height: 170px;
        }
        padding: 0px 5px 0px 5px;
        
     
    }*/
}
.thirdSection .picturesList_S3:before,
.thirdSection .picturesList_S3:after {
  content: "";
  display: table;
}
.thirdSection .picturesList_S3:after {
  clear: both;
}
@media (min-width: 480px) {
  .thirdSection .picturesList_S3 {
    max-width: 380px;
  }
}
@media (min-width: 768px) {
  .thirdSection .picturesList_S3 {
    max-width: 570px;
  }
}
@media (min-width: 1024px) {
  .thirdSection .picturesList_S3 {
    max-width: 950px;
  }
}
.thirdSection .picturesList_S3 .listPictures {
  float: left;
  padding: 20px 10px 0px 10px;
}
.graphic-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.btn-default {
  display: inline-block;
  color: white;
  background: #207b20;
  border-radius: 30px;
  padding: 5px 10px;
  transition: all 0.5s ease-in;
}
.btn-default:hover {
  background: #2ba32b;
}
.latestWork__portfolio {
  zoom: 1;
}
.latestWork__portfolio:before,
.latestWork__portfolio:after {
  content: "";
  display: table;
}
.latestWork__portfolio:after {
  clear: both;
}
.latestWork__portfolio__item {
  float: left;
}
.latestWork__portfolio__item__link {
  color: white;
}
.latestWork__portfolio__item__link--blue {
  color: blue;
}
