@import "variables"; 
@import "global";


.thirdSection{
    height: 750px;
    background-color:@backgroundGreen;
    position: relative;
    a{text-decoration: none}
    .greenSectionTitle;
    /*problem z dodaniem zmiennej backgroundGreen*/
    .list_picture{
        display: inline-block;
        height:350px;
        width: 920px;
        background: url(../images/thirdSectionPictures/image.png) no-repeat;
        position: absolute;
        top: 250px;
        left: 20%;
    }
    .buttonsThirdSection{
       
        text-align: center;
        a{
            
            padding-left: 20px;
            padding-right: 20px;
           color: #2b9b2b;
            border-color: @textColorGreenTitle;
            background-color: @bodyBgColor;
            border-style: solid;
            border-width: 1px;
            
        }
      
        
         a:first-child{
        border-top-left-radius: @radius;
        border-bottom-left-radius: @radius;
        color:  @bodyBgColor;
        background-color: @textColorGreenTitle;
        }
        a:last-child{
        border-top-right-radius: @radius;
        border-bottom-right-radius: @radius;
        border-left-width: 0px;
        }
    }
    .sectionButton{
      
        color: white;
        border-color:@textColorGreenTitle;
      
        background: url(../images/thirdSectionPictures/Shape2.png) no-repeat 90% 50%;
        background-color: @textColorGreenTitle;

    }
    .listPicturesMiniature{
        display: inline-block;
        /*width: 170px;
        height: 170px;*/
        img:hover{
            width: 170px;
            height: 170px;
            padding: 0px;
        }
        img {
            padding: 5px;
        }
    }
    
   
    .picturesList_S3{
        //display: inline-table;
        float: left;
        text-align: center;
        list-style: none;
        max-width: 70%;
        position: absolute;
        left: 10%;
        .listPictures{
            display: inline-table;
           padding: 20px 10px 0px 10px;
        }
         /*.listPictures:hover{
        img{
            width: 170px;
            height: 170px;
        }
        padding: 0px 5px 0px 5px;
        
     
    }*/
    }
   
}
