@bodyBgColor: #fff;
@textColor: #828181;
@backgroundGreen: #54d154;
@textColorGreen:#2b9b2b;
@textColorGreenTitle: #207b20;
@backgroundGrey:#f2f1f1;

@mainFont: "Open Sans";
@secondFont: "Monsterat";

@basicFontSize: 16px;
@fintSizeH1: @basicFontSize * 2.4;
@fintSizeH2: @basicFontSize * 2;

@gutter: 20px;
@radius: 30px;


@headerPicture: url("/assets/images/bannerBackground.png");

