@import "variables";
@import "global";
.whatWeDo {
    min-height: 580px;
    background-color: white;
}

.whatWeDoSubsection {
    @media(max-width:@screenTablet){
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 25px;
        width: 80%;
    }
    float: left;
    text-align: center;
    width: 33%;
    &__icon {
        height: 142px;
        width: 142px;
       
        border-radius: 15px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        &--first{
                    background: #e1f3e1 url(../images/whatWeDoPictures/Forma1.png) no-repeat 50%;

        }
        &--second{
                    background: #e1f3e1 url(../images/whatWeDoPictures/Forma2.png) no-repeat 50%;

        }
        &--third{
                    background: #e1f3e1 url(../images/whatWeDoPictures/Forma3.png) no-repeat 50%;

        }
    }
    /*.sectionIcon{
        content: "";
        height: 78px;
        width: 88px;
       display: inline-block;
        background-color: #e1f3e1;
        position: absolute;
        top: 25%;
        right: 20%;     
    }*/
    &__title {
        display: block;
        font-size: 24px;
        color: @textColor;
        font-weight: bold;
    }
    &__content {
        @media(max-width: @screenTablet){
            padding: 0px;
            padding-bottom: 10px;
        }
        display: block;
        font-size: 15px;
        color: @textColor;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__learnMore {
     
      .button-small(white;@backgroundGreen);
          text-decoration: none;
          padding-left: 10px;
          padding-right: 10px;
}
}